[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=graphical.target

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment=DISPLAY=:1
Type=simple
ExecStart=/home/%u/.cargo/bin/kanata -c ${HOME}/.config/kanata/config.kbd
Restart=on-failure

[Install]
WantedBy=graphical-session.target
