!colors/astronvim.lua
*.null-ls*
colors/*
ginit.vim
lua/user
ftplugin
.luarc.json
.config/lazygit/state.yml
.config/lazydocker/state.yml
.config/pgcli/log
.config/pgcli/history
.config/fcitx5/conf/cached_layouts
