# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="thorium-browser"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Hide mouse when typing
xbanish &

# Start greenclip daemon
greenclip daemon &

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
