* {
  border: none;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #a9b1d6;
}

.modules-left,
.modules-center,
.modules-right {
  border: 1px solid #bb9af7;
  padding: 3px 8px;
  border-radius: 30px;
  background-color: rgba(26, 27, 38, 0.6);
}
