window#waybar {
  background: transparent;
  color: #c0caf5;
}

* {
  border-radius: 12px;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  font-weight: 500;
}

#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#memory,
#workspaces,
#custom-shutdown,
#custom-notification,
#mpris,
#tray,
#backlight,
#bluetooth,
#disk,
#power-profiles-daemon {
  border: 2px rgba(122, 162, 247, 0.6) solid;
  padding: 1px 10px;
  background: rgba(26, 27, 38, 0.8);
  transition: all 300ms cubic-bezier(0.38, 1.21, 0.22, 1);
}

#power-profiles-daemon {
  padding: 5px 15px 5px 13px;
}

#custom-notification,
#custom-shutdown {
  padding: 5px 15px 5px 10px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#disk:hover,
#network:hover,
#pulseaudio:hover,
#memory:hover,
#workspaces:hover,
#mpris:hover,
#tray:hover,
#backlight:hover,
#bluetooth:hover,
#custom-shutdown:hover,
#custom-notification:hover,
#power-profiles-daemon:hover {
  border: 2px rgba(125, 207, 255, 0.9) solid;
  color: #7dcfff;
}

#battery.critical,
#memory.critical,
#cpu.critical,
#disk.critical {
  color: #f7768e;
  border-color: rgba(247, 118, 142, 0.8);
}

#battery.warning,
#disk.warning {
  color: #ff9e64;
  border-color: rgba(255, 158, 100, 0.8);
}

#workspaces button {
  padding: 0 8px 0 4px;
  color: #565f89;
  background: transparent;
  border: none;
  border-radius: 8px;
  transition: all 200ms ease;
}

#workspaces button:hover {
  color: #7dcfff;
  background: rgba(125, 207, 255, 0.5);
}

#workspaces button.active {
  color: #7aa2f7;
  background: rgba(122, 162, 247, 0.5);
}

#workspaces button.urgent {
  color: #f7768e;
  background: rgba(247, 118, 142, 0.5);
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  to {
    color: #ff9e64;
    background: rgba(255, 158, 100, 0.5);
  }
}
